
body{
  
  background-color: black ;
color : #595858;
  font-family: 'Source Sans Pro', sans-serif;
}


.row{
  font-size: 150%;

}



.profileimage{
  width: 250px;
  height: 250px;
}



.navbar{
  background-color:none;
  margin-top : 40px ;
  margin-bottom: 10px;


}
.navbar-toggler-icon {
  color: white;
  border-color: white;
  background-color: white;
  height: 10px;
  width: 35px;
}

.links {
  color: #333333 ;
  text-decoration: none;
}

.navbar a{
  color: #333333;
  font-size: 18px;
  transition: transform .2s
}

.navbar a:hover{
  color: white;
  transform: scale(1.2);
  
}
 
 


.container{
  margin-top: 60px;
  margin-bottom: 20px;
}








.social-links {
  margin-top: 40px;
  margin-bottom: 20px;
 
}

.social-links a {
  color: #333333;
  font-size: 25px;
  margin-right: 35px;
}
.social-links a:hover{
      color: white;
}
.social-links a:last-child {
  margin-right: 0;
}


