.row {
    margin-top: 200px;
}



.social-links {
    margin-top: 40px;
    margin-bottom: 20px;
   
  }
  
  .social-links a {
    color: #333333;
    font-size: 25px;
    margin-right: 20px;
  }
  .social-links a:hover{
        color: black;
  }
  .social-links a:last-child {
    margin-right: 0;
  }
